doctype html
html(lang="en")
  head
    title Kendo Testing
    link(rel='stylesheet' href='css/bootstrap/united/bootstrap.css')
    link(rel='stylesheet' href='css/kendo/kendo.common.core.css')
    link(rel='stylehseet' href='css/kendo/kendo.default.css')
    link(rel='stylesheet' href='css/font-awesome/css/font-awesome.css')
    link(rel='stylehseet' href='css/styles.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='http://kendo.cdn.telerik.com/2015.2.805/js/kendo.all.min.js')
    script(src='js/script.js')
    script(src='js/kendo/knockout-kendo.js')
  body
    block content
