.centered-window-container {
  display: none;

  &.show {
    z-index: 9999;
    display: table;
    text-align: center;
    position: abosolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .centered-window {
    position: relative;
    width: 500px;
    height: 500px;
    display: table-cell;
  }

}
